@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/sourcesanspro/SourceSansPro-Regular.eot");
  src: url("../fonts/sourcesanspro/SourceSansPro-Regular.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/sourcesanspro/SourceSansPro-Bold.eot");
  src: url("../fonts/sourcesanspro/SourceSansPro-Bold.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Stag-Light';
  src: url("../fonts/stag/Stag-Light.eot");
  src: url("../fonts/stag/Stag-Light.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Stag-Book';
  src: url("../fonts/stag/Stag-Book.eot");
  src: url("../fonts/stag/Stag-Book.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Stag-Medium';
  src: url("../fonts/stag/Stag-Medium.eot");
  src: url("../fonts/stag/Stag-Medium.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Stag-Semibold';
  src: url("../fonts/stag/Stag-Semibold.eot");
  src: url("../fonts/stag/Stag-Semibold.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Brandon-Bold';
  src: url("../fonts/brandon/BrandonGrotesque-Bold.eot");
  src: url("../fonts/brandon/BrandonGrotesque-Bold.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Brandon-Regular';
  src: url("../fonts/brandon/BrandonGrotesque-Reg.eot");
  src: url("../fonts/brandon/BrandonGrotesque-Reg.woff") format("woff");
  font-style: normal;
  font-stretch: normal; }

.twhite {
  color: #FFF; }

.tgray33 {
  color: #333; }

.tgray66 {
  color: #666; }

.tgray7b {
  color: #7b7b7b; }

.tgray88 {
  color: #888; }

.tblack {
  color: #000; }

.m-t-100 {
  margin-top: 100px; }

h1 {
  color: #FFF;
  font-family: "Brandon-Bold";
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 55px;
  margin-bottom: 4px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  color: #FFF;
  font-family: "Stag-Book";
  font-size: 36px; }

h3 {
  color: #1bb580;
  font-family: "Stag-Medium";
  font-size: 30px;
  margin-bottom: 20px; }

h4 {
  color: #1bb580;
  font-family: "Stag-Medium";
  font-size: 24px;
  line-height: 30px;
  text-transform: none; }

h4.light {
  font-family: "Stag-Book"; }

h5 {
  color: #FFF;
  font-family: "Stag-Medium";
  font-size: 18px;
  line-height: 22px; }

h5.light {
  font-family: "Stag-Book"; }

h6 {
  color: #888;
  font-family: "SourceSansPro-Bold";
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
  text-transform: uppercase; }

body {
  font-family: "SourceSansPro-Regular";
  font-size: 15px;
  line-height: 19px; }

a,
a:visited,
a:focus {
  color: #f2645a;
  cursor: pointer;
  text-decoration: underline; }

a:hover,
a:visited:hover,
a:focus:hover {
  color: #f9bdb9; }

p {
  font-family: "SourceSansPro-Regular"; }

p.large {
  font-size: 18px;
  line-height: 24px; }

p.small {
  font-family: "Stag-Book";
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase; }

.subtitle {
  color: #FFF;
  font-family: "Brandon-Regular";
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  text-transform: none; }

@media (max-width: 768px) {
  h4 {
    font-size: 20px;
    line-height: 26px; } }

@media (max-width: 736px) {
  h1 {
    font-size: 31px;
    line-height: 34px; }
  h1 span {
    line-height: 22px !important; } }

.container-fluid {
  max-width: 1600px; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

ul.horizontal-list li {
  display: inline-block;
  margin-right: 50px; }

ul.horizontal-list li:last-child {
  margin-right: 0; }

ul.bulleted {
  list-style-image: url("../img/icons/bulletArrow.svg");
  list-style-position: inside;
  margin-left: 25px; }

ul.bulleted li {
  margin-bottom: 5px; }

.btn {
  margin: 20px 0;
  text-decoration: none; }

.btn.download-btn {
  background-color: #FFF;
  border: 2px solid #1bb580;
  color: #1bb580;
  border-radius: 30px;
  font-family: "Stag-Medium";
  font-size: 18px;
  line-height: 56px;
  max-width: 400px;
  padding: 0;
  text-transform: uppercase;
  width: 100%; }

.btn.download-btn:hover {
  background-color: #1bb580;
  border: 2px solid transparent;
  color: #FFF; }

.btn.submit-btn {
  background-color: #3d3030;
  border-radius: 0;
  color: #FFF;
  font-family: "Stag-Book";
  font-size: 24px;
  line-height: 68px;
  padding: 0 40px;
  margin: 0;
  vertical-align: top; }

.btn.submit-btn:hover {
  background-color: #FFF;
  color: #3d3030; }

.btn.nav-btn {
  border: 2px solid #FFF;
  border-radius: 22px;
  margin-top: 3px;
  margin-left: 40px;
  padding: 10px 40px; }

.btn.playpause-btn {
  background: transparent url("../img/play.svg") no-repeat 0 0;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px; }

.btn.playpause-btn.pause {
  background: transparent url("../img/stop.svg") no-repeat 0 0; }

#mc_embed_signup {
  margin: 0 auto;
  max-width: 636px; }

#mc_embed_signup .mc-field-group {
  margin-top: 50px; }

#mc_embed_signup div.mce_inline_error {
  background-color: transparent !important;
  color: red !important;
  text-align: left; }

#mc_embed_signup #mce-error-response,
#mc_embed_signup #mce-success-response {
  margin-top: 10px; }

input {
  border: 0;
  padding: 0 15px; }

input[type="email"] {
  color: #333;
  font-family: "Stag-Book";
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  max-width: 448px;
  padding-left: 35px;
  width: 100%;
  vertical-align: top; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #CCC; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #CCC; }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #CCC; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #CCC; }

section {
  margin: 0 auto;
  max-width: 1600px;
  padding: 85px 0;
  text-align: center; }

.bg-pattern-lightgreen {
  background: #edfaf8 url("../img/bg-pattern-lightgreen.png") repeat 0 0; }

.bg-pattern-green {
  background: #1bb580 url("../img/bg-pattern-green.png") repeat 0 0; }

.ribbon {
  background: transparent url("../img/ribbon.svg") no-repeat 0 0; }

#intro {
  background-color: #1bb580;
  height: 100vh;
  width: 100%; }

#intro .intro-content {
  max-width: 1600px;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%; }

#intro .intro-content > * {
  opacity: 0; }

#intro #particles-js {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%; }

#intro .arrow-down {
  background: transparent url("../img/icons/down-arrow.svg") no-repeat 0 0;
  bottom: 25px;
  cursor: pointer;
  height: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 38px; }

#intro .arrow-down:hover {
  opacity: 0.8; }

#intro #counter {
  color: #FFF;
  font-family: "Stag-Semibold";
  font-size: 50px;
  letter-spacing: 1px;
  margin-top: 20px; }

#intro #counter div {
  background-color: #FFF;
  color: #1bb580;
  display: inline-block;
  font-family: "Stag-Light";
  font-size: 60px;
  line-height: 90px;
  margin-right: 5px;
  min-width: 62px;
  padding: 14px 12px 10px; }

#intro #counter div:last-child {
  margin-right: 16px; }

#intro p {
  margin-top: 80px; }

#focusareas p.text-center {
  margin: 0 auto;
  width: 60%; }

#focusareas .banner {
  margin: 70px auto 40px;
  width: 250px; }

#focusareas .banner h5 {
  line-height: 45px; }

#focusareas .banner h5 span {
  font-family: "Stag-Medium";
  text-decoration: underline; }

#focusareas .area-container {
  position: relative;
  min-height: 465px; }

#focusareas .area {
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-right: 15px;
  min-height: 435px;
  padding: 35px;
  position: absolute; }

#focusareas .area p {
  margin-top: 15px; }

#focusareas .area img {
  height: 114px;
  margin-bottom: 15px; }

#timeline {
  text-align: left; }

#timeline h4 {
  line-height: 24px;
  margin: 0 0 5px; }

#timeline .timeline-chart {
  position: relative; }

#timeline .timeline-chart .date-flag {
  background: transparent url("../img/flag.svg") no-repeat 0 0;
  color: #FFF;
  font-family: "Stag-Medium";
  font-size: 12px;
  height: 30px;
  padding: 6px 0 0 18px;
  text-align: left; }

#timeline .timeline-chart .timeline-item {
  margin-left: 53px;
  padding: 0 0 15px 60px;
  position: relative; }

#timeline .timeline-chart .timeline-item .track {
  border-left: 4px solid #1bb580;
  height: 100%;
  left: -4px;
  position: absolute;
  width: 4px; }

#timeline .timeline-chart .timeline-item .track.dashed {
  border-left: 4px dashed #1bb580;
  top: 8px; }

#timeline .timeline-chart .timeline-item.last .track {
  height: 30px; }

#timeline .timeline-chart .timeline-item.p-b-40 {
  padding-bottom: 40px; }

#timeline .timeline-chart .timeline-item .box {
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 50px 20px 30px;
  position: relative;
  max-width: 500px; }

#timeline .timeline-chart .timeline-item .box:after {
  border: 12px solid #FFF;
  border-color: transparent transparent #FFF #FFF;
  content: "";
  left: 2px;
  position: absolute;
  right: 100%;
  top: 25px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(45deg);
  transform-origin: 0 0;
  transform: rotate(45deg);
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.1); }

#timeline .timeline-chart .timeline-item .box.dot:before {
  border: 8px solid #1bb580;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -70px;
  top: 36px; }

#faq {
  background-color: #FFF; }

#faq p {
  margin: 16px 0 40px; }

#faq p.m-b-20 {
  margin-bottom: 20px; }

#faq ul {
  margin-top: 60px;
  text-align: left; }

#faq ul.bulleted {
  margin-top: 5px; }

#contact {
  color: #FFF; }

#contact p {
  margin-top: 30px; }

footer {
  background-color: #333;
  padding: 140px 0 100px; }

footer a {
  line-height: 50px; }

footer li {
  line-height: 50px; }

footer h6 {
  color: #888;
  font-family: "Stag-Book";
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: none; }

footer .row > div {
  margin-bottom: 40px; }

@media (max-width: 768px) {
  .container {
    padding: 0 20px; }
  #intro .intro-content {
    padding: 0 20px; }
  #focusareas .area {
    padding: 30px; }
  #focusareas p.text-center {
    width: 100%; }
  #timeline .timeline-chart .timeline-item .box {
    padding-right: 30px; } }

@media (max-width: 736px) {
  #intro #counter {
    font-size: 40px; }
  #intro #counter div {
    font-size: 50px;
    line-height: 80px; }
  #intro .arrow-down {
    bottom: 15px; }
  #intro p {
    margin-top: 60px; }
  #focusareas .area {
    margin-right: 0;
    position: relative; } }

@media (max-width: 667px) {
  .btn.submit-btn {
    margin-top: 20px; } }

/* bootstrap overrides */
.navbar-default {
  background-color: transparent;
  border: 0;
  transition: all 0.5s ease; }

.navbar-default .navbar-toggle {
  border: 0;
  margin-right: 25px;
  margin-top: 15px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
  height: 3px;
  width: 30px;
  transition: 0.25s ease-in-out; }

.navbar-default .navbar-toggle.expanded .icon-bar {
  background-color: #1bb580; }

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 15px;
  right: 10px; }

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(3) {
  display: none; }

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 11px;
  right: 10px; }

.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #FFF; }

.navbar-default .navbar-nav > li > a.btn.nav-btn {
  border-color: #FFF; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #d1f0e6; }

.navbar-default .navbar-nav > li > a:focus span, .navbar-default .navbar-nav > li > a:hover span {
  color: #FFF; }

.navbar-default .navbar-nav > li > a:focus.btn.nav-btn, .navbar-default .navbar-nav > li > a:hover.btn.nav-btn {
  background-color: #FFF;
  color: #1bb580; }

.navbar-default.sticky {
  background-color: #FFF; }

.navbar-default.sticky .navbar-toggle .icon-bar {
  background-color: #1bb580; }

.navbar-default.sticky .navbar-nav > li > a {
  color: #1bb580; }

.navbar-default.sticky .navbar-nav > li > a.btn.nav-btn {
  background-color: #FFF;
  border-color: #1bb580;
  color: #1bb580; }

.navbar-default.sticky .navbar-nav > li > a:hover {
  color: #51e5b2; }

.navbar-default.sticky .navbar-nav > li > a:hover span {
  color: #1bb580; }

.navbar-default.sticky .navbar-nav > li > a:hover.btn.nav-btn {
  background-color: #1bb580;
  color: #FFF; }

.navbar > .container .navbar-brand {
  background: transparent url("../img/logos/centrelogo_horizontal_white.svg") no-repeat 0 0;
  margin: 26px 0 0 25px;
  width: 200px; }

.navbar.sticky > .container .navbar-brand {
  background-image: url("../img/logos/centrelogo_horizontal_green.svg"); }

.nav {
  padding-top: 20px; }

.nav > li > a {
  font-family: "Brandon-Bold";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase; }

.nav > li > a span {
  padding-left: 30px; }

@media (max-width: 768px) {
  .navbar-default .navbar-brand {
    padding: 0 50px; }
  .navbar > .container .navbar-brand {
    margin-left: -10px; }
  .btn.nav-btn {
    padding: 10px 36px; } }

@media (max-width: 736px) {
  .nav {
    padding: 20px; }
  .nav > li > a span {
    display: none; }
  .navbar-default {
    transition: 0.25s ease-out; }
  .navbar-default.expanded {
    background-color: rgba(255, 255, 255, 0.9); }
  .navbar-default.expanded > .container .navbar-brand {
    background-image: url("../img/logos/centrelogo_horizontal_green.svg"); }
  .navbar > .container {
    padding: 0; }
  .navbar > .container .navbar-brand {
    margin: 10px 30px 5px; }
  .navbar-collapse {
    border: 0; }
  .navbar-collapse .navbar-nav > li > a {
    color: #1bb580;
    font-size: 18px;
    margin-bottom: 20px; }
  .navbar-collapse .navbar-nav > li > a.btn.nav-btn {
    border-color: #1bb580;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 300px; } }

#gallery {
  padding: 0; }

#gallery .container-fluid {
  padding: 0; }

#gallery .row-fluid [class*="span"] {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 0px !important;
  position: relative;
  overflow: visible;
  width: 100%; }

#gallery .row-fluid .span12 {
  width: 100% !important; }

#gallery .row-fluid .span8 {
  width: 66.666666666667% !important; }

#gallery .row-fluid .span6 {
  width: 50% !important; }

#gallery .row-fluid .span4 {
  width: 33.333333333333% !important; }

#gallery .content {
  position: relative;
  width: 100%; }

#gallery .content img {
  display: none;
  width: 100%;
  height: 100%; }

#gallery .content.video {
  background-color: #000;
  overflow: hidden; }

#gallery .content.video video {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

#gallery .content.video.preview video {
  height: 100%;
  width: auto;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

#gallery .content.video .playpause-btn {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

#gallery .content.video:hover .playpause-btn {
  opacity: 1; }

#gallery .content.quote {
  background-color: #2e2e2e;
  color: #FFF;
  padding: 20px;
  text-align: left; }

#gallery .content.quote .quote-text {
  font-size: 16px;
  line-height: 20px; }

#gallery .content.quote .author {
  bottom: 10px;
  position: absolute; }

#gallery .content.twitter {
  background-color: #55acee;
  height: 385px;
  padding: 40px;
  text-align: left; }

#gallery .content.twitter a {
  color: #FFF; }

#gallery .content.twitter a:hover {
  opacity: 0.8; }

#gallery .content.twitter h4 a {
  text-decoration: none; }

#gallery .content.twitter .signature {
  position: absolute;
  bottom: 40px; }

#gallery .content.twitter .signature i {
  font-size: 26px;
  padding-top: 10px; }

@media (max-width: 900px) {
  #gallery .row-fluid > .span8,
  #gallery .row-fluid > .span6,
  #gallery .row-fluid > .span4 {
    width: 100% !important; }
  #gallery .row-fluid > .span8 > .span6,
  #gallery .row-fluid > .span6 > .span6,
  #gallery .row-fluid > .span4 > .span6 {
    width: 50% !important; } }

@media (max-width: 480px) {
  #gallery .row-fluid .span8,
  #gallery .row-fluid .span6,
  #gallery .row-fluid .span4 {
    width: 100% !important; }
  #gallery .content.quote .quote-text {
    font-size: 20px;
    line-height: 26px; } }

@media only screen and (max-device-width: 1024px) {
  #gallery .playpause-btn {
    display: none; } }
