/* bootstrap overrides */
.navbar-default{
	background-color: transparent;
	border: 0;
  	transition: all 0.5s ease;
	.navbar-nav{
		>li{
			>a {
				color: $white;
			}
		}
	}
	.navbar-brand{
		background-color: $white;
		color: $black;
		height: 36px;
		line-height: 36px;
		margin-top: 20px;
		padding: 0 90px;
		&:hover{
			background-color: $white;
		}
	}
	&.sticky{
		background-color: $white;
		.navbar-nav{
			> li{
				> a{
					color: $green;
					&:hover{
						color: $black;
						span{
							color: $green;
						}
					}
				}
			}
		}
		.btn{
			&.nav-btn{
				border-color: $green;
				&:hover{
					border-color: $black;
					color: $black;
				}
			}
		}
	}
}
/* bootstrap overrides */


.nav{
	height: 100px;
	padding-top: 20px;
	> li{	
		a{
			font-family: $sans-brandon-bold;
			font-size: 14px;
			text-decoration: none;
			text-transform: uppercase;
			span{
				padding-left: 30px;
			}
			&:hover{
				span{
					color: $white;
				}
			}
		}
	}
}


@media (max-width: 768px) {
	.navbar-default{
		.navbar-brand{
			padding: 0 50px;
		}
	}
}