/* bootstrap overrides */
.navbar-default{
	background-color: transparent;
	border: 0;
  transition: all 0.5s ease;
	.navbar-nav{
		>li{
			>a {
				color: $white;
				&.btn{
					&.nav-btn{
						border-color: $white;
					}
				}
				&:hover{
					color: #d1f0e6;
					span{
						color: $white;
					}
					&.btn{
						&.nav-btn{
							background-color: $white;
							color: $green;
						}
					}
				}
			}
		}
	}
	.navbar-brand{
		background-color: $white;
		color: $black;
		height: 36px;
		line-height: 36px;
		margin-top: 20px;
		padding: 0 90px;
		&:hover{
			background-color: $white;
		}
	}
	&.sticky{
		background-color: $white;
		.navbar-nav{
			> li{
				> a{
					color: $green;
					&.btn{
						&.nav-btn{
							background-color: $green;
							color: $white;
						}
					}
					&:hover{
						color: lighten($green, 20%);
						span{
							color: $green;
						}					
						&.btn{
							&.nav-btn{
								background-color: $white;
								border-color: $green;
								color: $green;
							}
						}
					}
				}
			}
		}
	}
}
/* bootstrap overrides */


.nav{
	height: 100px;
	padding-top: 20px;
	> li{	
		> a{
			font-family: $sans-brandon-bold;
			font-size: 14px;
			text-decoration: none;
			text-transform: uppercase;
			span{
				padding-left: 30px;
			}
		}
	}
}


@media (max-width: 768px) {
	.navbar-default{
		.navbar-brand{
			padding: 0 50px;
		}
	}
}